/****************************** Colors and sizes ******************************/

:root {
  --color-primary: #52ADE1;
  --color-secondary: #164693;
  --color-accent: #33FF33;
  --color-light: #FFFFFF;
  --color-dark: #282828;
  --color-primary-d10: #4A9CCB;
  --color-primary-d50: #295771;
  --color-primary-d80: #10232D;
  --color-dark-b10: #3D3D3D;
  --color-dark-b20: #535353;
  --color-dark-b50: #949494;
}

html {
  font-size: 16px;
  word-break: break-word;
  background: var(--color-dark);
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: quicksand;
  margin: 16px;
}

.background-accent {
  background: var(--color-accent);
}

.background-dark {
  background: var(--color-dark);
}

.background-light {
  background: var(--color-light);
}

.background-primary {
  background: var(--color-primary);
}

.background-secondary {
  background: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-dark {
  color: var(--color-dark);
}

.color-light {
  color: var(--color-light);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

* {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

td, th {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  padding: 0;
  text-align: center;
  position: relative;
}

tr:hover {
  background-color: #52ADE150;
}

tr td:not(:first-child):hover::after {
  content: "";
  position: absolute;
  background-color: #52ADE150;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

th, td:first-child {
  font-weight: bold;
}

canvas {
  width: 500px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}